<div class="country_summary">
  <h2 class="country_name">{{name}}</h2>
  <div class="pure-g">
    <div class="pure-u-1-2 pure-u-md-1-2">
      <div class="time_series">
      </div>
    </div>
    <div class="pure-u-1-4 pure-u-md-1-4">
      <div class="pull_quote">
      </div>
    </div>
    <div class="pure-u-1-4 pure-u-md-1-4">
      <div class="pie_chart">
      </div>
    </div>
  </div>
</div>


