<div class="dashboard">
  <div class="pure-g row row-1">
    <div class="pure-u-1-2 pure-u-md-1-2">
      <div class="card">
        <h2>Datasets</h2>
        <h3>Most popular:</h3>
        <div class="datasets_container">

        </div>
        <div class="link">
          <a href="#" class="datasets_link">Datasets &raquo;</a>
        </div>
      </div>
    </div>
    <div class="pure-u-1-2 pure-u-md-1-2">
      <div class="card">
        <h2>Countries</h2>
        <div class="countries_container">

        </div>
        <div class="link">
          <a href="#" class="countries_link">Countries &raquo;</a>
        </div>
      </div>
    </div>
  </div>
  <div class="pure-g row row-2">
    <div class="pure-u-1-2 pure-u-md-1-2">
      <div class="card">
        <h2>Platforms</h2>
        <div class="platforms_chart_container">

        </div>
        <div class="platforms_key_container">

        </div>
        <div class="link">
          <a href="#" class="platforms_link">Platforms &raquo;</a>
        </div>
      </div>
    </div>
    <div class="pure-u-1-2 pure-u-md-1-2">
      <div class="card">
        <h2>Social</h2>
        <h3>Top traffic sources:</h3>
        <div class="social_chart_container">

        </div>
        <div class="social_key_container">

        </div>
        <div class="link">
          <a href="#" class="social_link">Social &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>
