<div class="horizontal_histogram pure-g">
  {{#labels_left}}
  <div class="pure-u-1-2 pure-u-md-1-2">
    <div class="labels left">
    </div>
  </div>
  {{/labels_left}}
  <div class="chart {{chart_pure_class}}">
  </div>
  {{#labels_right}}
  <div class="pure-u-1-2 pure-u-md-1-2">
    <div class="labels right">
    </div>
  </div>
  {{/labels_right}}
</div>
