<div class="social_month_summary">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1">
      <h3 class="date">{{date}}</h3>
    </div>
  </div>
  
  <div class="pure-g pie_wrapper">
    <div class="pure-u-1-2 pure-u-md-1-2">
      <div class="pie">
      </div>
    </div>
    <div class="pure-u-1-2 pure-u-md-1-2">
      <div class="quote"> 
      </div>
    </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1">
      <h4>Top Sources:</h4>
      <div class="sources">
      </div>
    </div>
  </div>
  
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1">
      <h4>Popular Datasets:</h4>
      <div class="datasets">
      </div>
    </div>
  </div>
</div>
