<div class="tabbed_navigation">
  <ul class="tabs">
    {{#tabs}}
      <li class="tab-{{id}}">{{title}}</li>
    {{/tabs}}
    <li class="clear">
    </li>
  </ul>
  <div class="tabs_buffer"></div>
  <div class="tab_content">
  </div>
</div>
