<div class="card">
  <h2>Top traffic sources</h2>
  <div class="pure-g">
    <div class="pure-u-1-2 pure-u-md-1-2 pie_container">
    </div>
    <div class="pure-u-1-2 pure-u-md-1-2 key_container">
    </div>
  </div>
</div>
