<li style="border-left-color: {{color}};" class="publisher-{{publisher_id}} visitable clickable">
  <div class="title">
    {{#url}}
      <a href="{{url}}">{{title}}</a>
    {{/url}}
    {{^url}}
      {{title}}
    {{/url}}
  </div>
  <div class="subtitle">
    {{subtitle}}
  </div>
  <ul class="stats">
    <li class="visits_proportion">
      <span class="n">{{visits_proportion}}</span> of all visits
    </li>
    <li class="visits">
      <span class="n">{{visits}}</span> visits
    </li>
    <li class="views">
      <span class="n">{{views}}</span> views
    </li>
  </ul>
</li>
