html {
  font-family: "Helvetica Neue", "Helvetica", "Verdana", sans-serif;
}

a {
  text-decoration: underline;
  color: #333;
}

a:hover {
  text-decoration: none;
}

body {
  background-color: #efefef;
  color: #333;
  margin: 2em auto;
  max-width: 64em;
  font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1.5em;
}

img {
  width: 100%;
}

.card {
  background-color: #fff;
  padding: 1em;
  margin: 0.5em;
  box-shadow: 3px 3px 6px #ddd;
}

.pie_container {
  margin-bottom: 4em;
}

.visitable_list li .title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.visitable_list {
  list-style-type: none;
  padding:0;
}

.visitable_list > li {
  margin-bottom: 3em;
  border-left:1em solid #ddd;
  padding-left: 1em;

}

.visitable_list .stats {
  list-style-type: none;
  padding: 0;
}

.visitable_list .stats li {
  display: inline;
  padding-right: 1em;
}

.visitable_list li.not-highlighted {
  color: #ddd;
  border-left-color: #ddd;
}

.visitable_list .stats .n {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.world_map_container {
  margin-top: 3em;
  height: 500px;
  width: 100%;
}

.world_map_container:last-child:after {
  content: '';
  position: absolute;
  box-shadow: inset 3px 3px 6px #ddd;
  width:100%;
  height:100%;
  display:block;
  pointer-events:none;
}

.leaflet-container a {
  color: #333;
}

